<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
	<appSettings>
  <add key="stream.port" value="3000" />
  <add key="stream.udp-buffer-size" value="40000" />
  <add key="stream.latency" value="500" />
  <add key="stream.drop" value="True" />
  <add key="stream.effect" value="" />
  <add key="stream.forceaspectratio" value="False" />
  <add key="stream.savefilename" value="D:\CODING\C#\v2r_player\v2r_player\bin\x86\Debug\stream.mkv" />
  <add key="gst.local" value="false" />
  <add key="gst.log" value="False" />
  <add key="gst.loglevel" value="3" />
  <add key="window.topmost" value="False" />
  <add key="window.top" value="358" />
  <add key="window.left" value="103" />
  <add key="window.width" value="1280" />
  <add key="window.height" value="720" />
  <add key="window.overlay" value="True" />
  <add key="joystick.name" value="USB SIM" />
  <add key="joystick.active" value="True" />
  <add key="keyboard.keys" value="Up,Down,Left,Right,LeftCtrl,S,A,Z,X,C,V," />
  <add key="keyboard.channels" value="1,2" />
  <add key="network.host" value="192.168.1.41" />
  <add key="network.port" value="1082" />
  <add key="network.role" value="False" />
  <add key="network.autoconnect" value="True" />
  <add key="network.timeout" value="5000" />
 </appSettings>
</configuration>
